.qmake.stash

# QtCreator folders and files #
#####################
SimDSP.pro.user
/src/SimDSP-build-*
/src/release*
/src/build*
/debug*
*.user
*.user*
/src/sdcore/sdcore.pro.user
/src/sdcore/sdcore-build-*
/src/sdcore/release*
/src/sdcore/build*
/src/sdcore/debug*
/src/sdcore*.user
/src/sdcore/*.user*
object_script.*
/src/examples/*/*/build*

# SimDSP Tools and files folder
#####################
/files

Makefile
Makefile.*
SimDSP
SimDSP.exe
