.qmake.stash

# QtCreator folders and files #
#####################
SimDSP.pro.user
/SimDSP-build-*
/release*
/build*
/debug*
*.user
*.user*
sdcore.pro.user
/sdcore/sdcore-build-*
/sdcore/release*
/sdcore/build*
/sdcore/debug*
/sdcore*.user
/sdcore/*.user*
object_script.*


# SimDSP Tools and files folder
#####################
/files

Makefile
SimDSP
